<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title><%= name %> - <%= category %></title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <h1><%= category %></h1>
        <div>
            <%- include('./partials/menuItems.ejs', {menuItems}) %>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>
