<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title><%= name %> - Menu</title>
    <link rel="icon" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/svgs/solid/utensils.svg">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <h1>Full Menu</h1>
        <div>
            <h2>Mains</h2>
            <% let menuItems = menu.filter( (item) => item.category === 'mains'); %>
            <%- include('./partials/menuItems.ejs', {menuItems}) %>
            <h2>Desserts</h2>
            <% menuItems = menu.filter( (item) => item.category === 'desserts'); %>
            <%- include('./partials/menuItems.ejs', {menuItems}) %>
            <h2>Sides</h2>
            <% menuItems = menu.filter( (item) => item.category === 'sides'); %>
            <%- include('./partials/menuItems.ejs', {menuItems}) %>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>
                