<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %> - Menu</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Full Menu</h1>
    <div>
        <h2>Mains</h2>
        <% menu.forEach( (item) => { %>
            <% if (item.category === 'mains') { %>
                <ul>
                    <h3><%= item.name %></h3>
                    <li><b>Price:</b> $<%= item.price %></li>
                    <li><b>Rating:</b> <%= item.rating %></li>
                    <li><b>About:</b> <%= item.details %></li>
                </ul>
            <% }; %>
        <% }); %>
        <h2>Desserts</h2>
        <% menu.forEach( (item) => { %>
            <% if (item.category === 'desserts') { %>
                <ul>
                    <h3><%= item.name %></h3>
                    <li><b>Price:</b> $<%= item.price %></li>
                    <li><b>Rating:</b> <%= item.rating %></li>
                    <li><b>About:</b> <%= item.details %></li>
                </ul>
            <% }; %>
        <% }); %>
        <h2>Sides</h2>
        <% menu.forEach( (item) => { %>
            <% if (item.category === 'sides') { %>
                <ul>
                    <h3><%= item.name %></h3>
                    <li><b>Price:</b> $<%= item.price %></li>
                    <li><b>Rating:</b> <%= item.rating %></li>
                    <li><b>About:</b> <%= item.details %></li>
                </ul>
            <% }; %>
        <% }); %>
    </div>
</body>
</html>
